// ********************
//      COLORES
// ********************     
$color-verde: #28a745;  
$color-enlace: #007bff;
.titulos{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin: 10px 20px
}