// COLORES DEL TEMA
$themecolor: #00897b;
$themecolor-dark: #03685d;
/*******************
/*BOTONES
*******************/
.btn-themecolor,
.btn-themecolor.disabled {
    background: $themecolor;
    color: #fff;
    border: 1px solid $themecolor;
    &:hover {
        background: $themecolor-dark;
        color: #fff;
        // opacity: 0.8;
        border: 1px solid $themecolor-dark;
    }
    &.active,
    &:focus {
        background: $themecolor-dark;
    }
}

/*******************
/*ELEMENTOS GENERALES
*******************/
a{
    color:$themecolor;
}
a.link {
    &:hover,
    &:focus {
        color: $themecolor-dark!important;
    }
}

.bg-theme {
    background-color: $themecolor !important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: $themecolor;
    border-color: $themecolor;
}

.right-sidebar {
    .rpanel-title {
        background: $themecolor;
    }
}

.stylish-table {
    tbody tr {
        &:hover,
        &.active {
            border-left: 4px solid $themecolor;
        }
    }
}
.text-themecolor{
    color:$themecolor!important;
}
.profile-tab,
.customtab {
    li {
        a.nav-link {
            &.active {
                border-bottom: 2px solid $themecolor;
                color: $themecolor;
            }
            &:hover {
                color: $themecolor;
            }
        }
    }
}